
    {{ partial "head.html" . }}
    {{ partial "header.html" . }}
    <div class="container">
        <div class="markutcontent">
        <h1>{{.Title}}</h1>
        <div class="markutpage">
            {{.Content}}
        </div>
        </div>
    </div>
    <div class="mailde">
        <div class="col-md-5 m-auto"><img class="img-fluid" src="/img/markut-mailde.svg" alt=""></div>
        <div class="mailde-title">Dergimize Abone Olun</div>
        <div class="mailde-desc">Yeni Sayıları Mailinize Gönderelim</div>
        <form name="abonelik" method="POST" data-netlify="true" action="/basarili">   
          <label><input type="text" name="email" class="form-control form-email" placeholder="Mail Adresiniz" required></label>
          <button type="submit" class=" btn markutbtn">Abone Ol</button><br>
          <small>ücretsizdir.</small>
      </form>
      </div>
    {{ partial "footer.html" . }}
