
    {{ partial "head.html" . }}
    {{ partial "header.html" . }}
    <div class="container">
        <header class="page-header markutcontent"><h1>{{ if .IsHome }}{{else}}{{ .Title }}{{ end }}</h1></header>
        <div class="container toc">
            <ul class="list-inline">
    {{ range .Pages }}
   <li class="list-inline-item title"> <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></li>  
    {{ end }} </ul></div>
        <div class="markutpage">
            {{.Content}}
        </div>
    </div> 
    {{ partial "footer.html" . }}