
    {{ partial "head.html" . }}
    {{ partial "header.html" . }}
    <div class="container">
    {{- $scope := .Site }}
        {{- if .Title }}
        <header class="page-header markutcontent"><h1>{{ if .IsHome }}{{else}}{{ .Title }}{{ end }}</h1></header>{{ $scope = . }}
        {{ end }}
        <div class="container toc">
            <ul class="list-inline">
        {{- $paginator := .Paginate (where $scope.RegularPages ".Params.type" "!=" "page" )  }}    
        {{- range $index, $page := $paginator.Pages  }}
        {{- $class := "post-entry" }}
        {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) }}
        {{- $class = "first-entry" }}
        {{- else if .Data.Term }}
        {{- $class = "post-entry tag-entry" }}
        {{- end }}   
   <li class="list-inline-item title"> <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></li>  
    {{- end }} </ul></div>
        <div class="markutpage">
            {{.Content}}
        </div>
    </div> 
    
    {{ partial "footer.html" . }}