
    {{ partial "head.html" . }}
    {{ partial "header.html" . }}
    <div class="container">
        <header class="page-header markutcontent"><h1>{{ .Title }}</h1></header>
        <div class="container toc">
            <h2>Markut Blog projesi askıya alınmıştır. Dergimizi takip etmeye devam edebilirsiniz.</h2>
            {{ range .Pages }}
            <article> <a href="{{ .Permalink }}">
                <img loading="lazy" class="img-fluid thumb" src="{{.Params.thumb}}" alt="">
                <h2 class="title">{{ .Title | markdownify }}</h2>
                <p class="yazar">{{- range $index, $element := .Params.yazar }}{{- with $.Site.GetPage "taxonomyTerm" (printf "yazar/%s" (urlize .)) }}{{ if gt $index 0 }}, {{ end }}<a href="{{ .Permalink }}">{{ .Params.title }}</a>{{ end }}{{ end }} {{if isset .Params "konuk" }}<a href="/yazar">Konuk Yazar, {{.Params.konuk}}</a>{{end}} | <time>{{ index $.Site.Data.months_data.months .Date.Month }} {{ .Date.Year }}</time></p>
                <p class="desc">{{ .Summary | plainify | htmlUnescape }}...</p></a>
            </article>
            {{ end }}
        </div>
    </div> 
    <br><br><br>
    {{ partial "abone-ol.html" . }}
    {{ partial "footer.html" . }}