{{ partial "head.html" . }}
{{ partial "header.html" . }}

<!--
<div class="container">
<div style=" text-align: center; font-family: playfair display; font-size: 24px;">
<div style="margin-bottom: 10px;"></div>
        <div class="row d-flex justify-content-center">
{{ $paginator := .Paginate (where .Pages ".Params.type" "kapak") (index .Site.Params "paginate" | default 10) }}
{{ if gt $paginator.TotalPages 0 }}
{{ range $index, $page := $paginator.Pages }}
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
{{ end }}
<div class="post {{ .Scratch.Get `postClass` }} col-lg-4 col-md-6 col-sm-12">
        <a href="{{ .Permalink }}"><div class="shadow-lg "> <h1 class="logokapak" style="color: {{ .Params.renk }};">MARKUT</h1>
            <h2 class="postyazi" style="color: {{ .Params.renk }};">{{.Title}}</h2>
    <div class="bg postkapak" style="background-image: url({{ .Params.kapakphone }});"></div>
    <div class="postdate"> 
            <p class="float-left posttarih" style="color: {{ .Params.renk }};">{{.Params.Tarih}}</p>
            <h2  class="postsayi" style="color: {{ .Params.renk }};">Sayı {{ .Params.sayi }}</h2>    
        </div>
    </div></a>
</div>
{{ end }}{{ end }}</div></div>
-->

<div class="container sayilar">
        {{ $paginator := .Paginate (where .Pages ".Params.type" "kapak") (index .Site.Params "paginate" | default 10) }}
        {{ if gt $paginator.TotalPages 0 }}
        {{ range $index, $page := $paginator.Pages }}
        {{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
        {{ end }}
        <div class="row markutsayi post {{ .Scratch.Get `postClass` }}">
                <div class="col-md-6">
                <div class="markutcvr">
                        <a href="{{ .Permalink }}"><img class="img-fluid" src="{{.Params.kapak}}" alt="Markut Sayı: {{.Params.Sayi}} Kapak Tasarımı"></a>
                </div>
                </div>
                <div class="col-md-6">
                        <div class="icindekiler">içindekiler.</div>
                        <ul class="list-group">
                        {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}  
                        <li class="list-group-item contents">{{ .Title | markdownify }}</li>                        
                        {{ end }}
                        </ul><a href="{{ .Permalink }}">
                        <button class="btn markutbtn" type="button">sayıyı oku</button></a>
                </div>
        </div>
        {{ end }}{{ end }}
</div>
<div class="container onde">
        <div class="icindekiler text-center">Öne Çıkan Sayfalar</div>
        <div class="row mt-5">
         {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
         <div class="col-md-6 mt-5"><article>    
       <a href="{{ .Permalink }}"><img class="img-fluid thumb" src="{{.Params.thumb}}" alt="{{ .Title | markdownify }}"></a>    
        <a href="{{ .Permalink }}"><h2 class="title">{{ .Title | markdownify }}</h2></a>
        <p class="yazar">{{ .Params.yazar }} | {{.Params.tarih}}</p>
        <p class="desc">{{ .Params.aciklama | plainify | htmlUnescape }}</p>
      <a href="{{ .Permalink }}"><button class="btn markutbtn" type="button">yazıyı oku</button></a>
        </article></div>
 {{ end }}
 </div>
</div>
<div class="mailde">
        <div class="col-md-5 m-auto"><img class="img-fluid" src="/img/markut-mailde.svg" alt="Markut Mailde İllustrasyon"></div>
        <div class="mailde-title">Dergimize Abone Olun</div>
        <div class="mailde-desc">Yeni Sayıları Mailinize Gönderelim</div>
        <form name="abonelik" method="POST" data-netlify="true" action="/basarili/">   
          <label><input type="text" name="email" class="form-control form-email" placeholder="Mail Adresiniz" required></label>
          <button type="submit" class=" btn markutbtn">Abone Ol</button><br>
          <small>ücretsizdir.</small>
      </form>
</div>
{{.Content}}
{{ partial "footer.html" . }}