{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="text-center mt-6">
        <a href="{{.Site.BaseURL}}reklam-sponsorluk/" target="_blank" rel="noopener noreferrer">
        <picture>
                 <source media='(min-width: 401px)'
                 srcset='{{$.Site.Params.areklampc}}'/>
                 <source media='(max-width: 400px)'
                 srcset='{{$.Site.Params.areklamph}}'/>
                 <img class="p-3 bg-yellow" src='{{$.Site.Params.areklamph}}' alt="MARKUT Dergi Sponsoru"/>
        </picture>
        </a>
</div>

<div class="container-fluid sayilar">
 {{ range ( where .Site.RegularPages "Type" "kapak" )}}
  <div class="row markutsayi post {{ .Scratch.Get `postClass` }}">
                <div class="col-md-6">
                <div class="markutcvr text-right">
                  {{ if isset .Params "thumb"}}<a href="{{ .Permalink }}"><img loading="lazy" class="img-fluid" src="{{.Params.thumb}}" alt="Markut Sayı: {{ range .Params.sayi }}{{ . }}{{ end }} Kapak Tasarımı"></a>{{end}}
                        <a href="{{ .Permalink }}">{{.Content}}</a>
                </div>
                </div>
                <div class="col-md-6">
                        <div class="icindekiler">içindekiler</div>
                        <ul class="list-group">
                        {{ range first 35 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.sayi" "intersect" .Params.sayi ) "Permalink" "!=" .Permalink ) }}  
                        <li class="list-group-item contents"><a href="{{.Permalink}}"><strong><span>{{.Params.sayfa}}</span></strong></a> |   {{ .Title | markdownify }}</a></li>                        
                        {{ end }}
                        </ul><a href="{{ .Permalink }}" class="btn markutbtn" type="button">Sayıyı Oku</a>
                </div>
        </div>
 {{ end }}
</div>

<!-- B Reklam Sponsor -->
<div class="text-center mt-3 mb-5">
        <a href="{{.Site.BaseURL}}reklam-sponsorluk/" target="_blank" rel="noopener noreferrer">
        <picture>
                 <source media='(min-width: 401px)'
                 srcset='{{$.Site.Params.breklampc}}'/>
                 <source media='(max-width: 400px)'
                 srcset='{{$.Site.Params.breklamph}}'/>
                 <img class="p-3 bg-yellow" src='{{$.Site.Params.breklamph}}' alt="MARKUT Dergi Sponsoru"/>
        </picture>
        </a>
</div>
<!-- B Reklam Sponsor Bitiş-->

<div class="container onde mb-5">
        <div class="icindekiler text-center">Dergiden Öne Çıkan Sayfalar</div>
        <div class="row mt-5">
         {{ range first 30 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
         <div class="col-md-6 mt-5"><article>    
       <a href="{{ .Permalink }}"><img loading="lazy" class="img-fluid thumb" src="{{.Params.thumb}}" alt="{{ .Title | markdownify }}" width="700px" height="300px">
        <h2 class="title">{{ .Title | markdownify }}</h2>
        <p class="yazar">{{- range $index, $element := .Params.yazar }}{{- with $.Site.GetPage "taxonomyTerm" (printf "yazar/%s" (urlize .)) }}{{ if gt $index 0 }}, {{ end }}<a href="{{ .Permalink }}">{{ .Params.title }}</a>{{ end }}{{ end }} | <time>{{ index $.Site.Data.months_data.months .Date.Month }} {{ .Date.Year }}</time></p>
        <p class="desc">{{ .Params.aciklama | plainify | htmlUnescape }}</p>
      </a>
        </article></div>
 {{ end }}
 </div>
</div>
{{.Content}}
{{ partial "mailde.html" . }}
{{ partial "footer.html" . }}
