    {{ partial "head.html" . }}
    {{ partial "header-sayi.html" . }}    
    {{ $number := (float .Params.sayfa) }}
    {{ $anothernumber := 1 }}
    {{ $total := (add $number $anothernumber) }}
    {{ $totalsub := (sub $number $anothernumber) }}
  <div id="contentsWrapper">
    <div class="content">
        <div class="gecis">
          <div class="container">
          <span class="sayfa">{{ .Params.sayfa }}</span>
             <div class="titya"><a href="{{ .Permalink }}"><h1 class="title">{{ .Params.title}}</h1></a>
             <div class="desc">
               {{ range $index, $element := .Params.yazar }}{{ with $.Site.GetPage "taxonomyTerm" (printf "yazar/%s" (urlize .)) }}{{ if gt $index 0 }}, {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
             </div>
            </div>
         </div>
        </div>
        {{ $number := (float .Params.sayfa) }}
        {{ $anothernumber := 1 }}
        {{ $total := (add $number $anothernumber) }}
        {{ $totalsub := (sub $number $anothernumber) }} 
        {{ $zeooo := trim $total " " }} 
    {{$pardate := .Params.date}}
    {{$zero := "0"}}
     {{ $zeo := trim $total " " }}
     {{ $full := printf "%s%s" "0" $zeo }}
     {{if gt 10 $total}}
         {{ $v1 := where .Site.Pages "Params.sayfa" $full }}
         {{ $v2 := where .Site.Pages "Params.date" $pardate }}
         {{ $filtered := $v1 | intersect $v2 }}
        {{ range $filtered }}
        <a href="{{.Permalink}}" id="next"></a>
          {{ end }}
          {{else}}
          {{ $z1 := where .Site.Pages "Params.sayfa" $zeo }}
          {{ $z2 := where .Site.Pages "Params.date" $pardate }}
          {{ $filter := $z1 | intersect $z2 }}
         {{ range $filter }}
         <a href="{{.Permalink}}" id="next"></a>
           {{ end }}
      {{end}}
        {{.Content}}

<!-- C Reklam Alanı-->
<div class="text-center mt-5 mb-5">
          <a href="{{.Site.BaseURL}}reklam-sponsorluk/">
          <picture>
                   <source media='(min-width: 401px)'
                   srcset='{{$.Site.Params.creklampc}}'/>
                   <source media='(max-width: 400px)'
                   srcset='{{$.Site.Params.creklamph}}'/>
                   <img class="p-3 bg-yellow" src='{{$.Site.Params.breklamph}}' alt="MARKUT Dergi Sponsoru"/>
          </picture>
          </a>
 </div>
 <!-- C Reklam Alanı Bitiş-->

        {{$yorum:= .Params.yorum}}
        {{ if eq $yorum "var" }}
        <h3 class="text-center">Markut Ekibinden Sevgiyle...</h3>
          {{partial "comment.html" . }}
        {{ end }}
     </div>
     <section class="bg-light mt-5">
     {{- if .Params.tags }}
        <ul class="list-inline text-center pt-5">
         {{- range .Params.tags }}
         {{- $href := print (absURL "tags/") (urlize .) }}
         <li class="list-inline-item"><a href="{{ $href }}"><button class="btn markutbtn" type="button">#{{.}}</button></a></li>
         {{- end }} 
       </ul>
     {{- end }}
     {{ $related := .Site.RegularPages.RelatedIndices . "tags" "date" | first 3 }}
      {{ with $related }}

      <div class="text-center pb-5">
      <!-- D Reklam Alanı-->
      <div class="container">
       <div class="row">
        <div class="col-md-4">  <div class="text-center mt-5 mb-5">
          <a href="/reklam-sponsorluk/">
                   <img class="p-3 bg-yellow" src='{{$.Site.Params.d3reklamph}}' alt="MARKUT Dergi Sponsoru"/>
          </a>
        </div></div>
        <div class="col-md-4"><div class="text-center mt-5 mb-5">
          <a href="/reklam-sponsorluk/">
                   <img class="p-3 bg-yellow" src='{{$.Site.Params.d2reklamph}}' alt="MARKUT Dergi Sponsoru"/>
          </a>
        </div></div>
        <div class="col-md-4"> <div class="text-center mt-5 mb-5">
          <a href="/reklam-sponsorluk/">
                   <img class="p-3 bg-yellow" src='{{$.Site.Params.d1reklamph}}' alt="MARKUT Dergi Sponsoru"/>
          </a></div>
        </div>
        </div>
       </div>
      <!-- D Reklam Alanı Bitiş-->

      <h3>İlginizi Çekebilir</h3>
      <ul class="list-unstyled">
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul></div>
      {{ end }}
    </section>
  </div>

<!--
{{ $zeooo := trim $totalsub " " }}
    <p class="text-center">
      {{ if eq $zeooo  "0" }}
            <a href="/sayi-{{.Params.sayi}}">TÜM SAYFALAR</a> | 
            <a href="/">ANA SAYFA</a>
            <a class="pagination__next" href="/{{.Params.sonraki}}"></a>
      {{else}}
            <a href="/sayi-{{.Params.sayi}}">TÜM SAYFALAR</a>
            <a class="pagination__next" href="/{{.Params.sonraki}}"></a>
      {{end}}
    </p>
  <div class="container">
    <div class="headersayfayazi">{{ $total }}. Sayfaya Geçtiniz</div> 
  </div> 
-->

  

<!--
{{ $sayfanumara := .Params.sayfa }}
<div class="container text-center">
            {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
              <a href="{{ .RelPermalink }}">
                {{ $digernumara := .Params.sayfa }}
              {{ if gt $sayfanumara $digernumara }} {{.Params.sayfa}} {{ end }}
            </a>
            {{ end }}
  <a href="{{.Params.Sonraki}}"><h1>Sonraki Sayfa</h1></a> 
            {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
            <a href="{{ .RelPermalink }}">
              {{ $digernumara := .Params.sayfa }}
            {{ if gt $digernumara $sayfanumara }} {{.Params.sayfa}} {{ end }}
          </a>
    {{ end }}
</div>
-->

    {{ partial "footer.html" . }}
