<button onclick="topFunction()" id="myBtn" title="Yukarı Çık">↑</button>
<!-- Modal Abone Ol -->
 <div class="modal" id="aboneol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modalback">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dergimize Abone Ol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="mailde">
                  <div class="col-md-8 m-auto"><img class="img-fluid" src="/img/markut-mailde.svg" alt="Markut Mailde İllustrasyon"></div>
                  <div class="mailde-title">Dergimize Abone Olun</div>
                  <div class="mailde-desc">Yeni Sayıları Mailinize Gönderelim</div>
                  <p class="emailoctopus-success-message">
                  </p>
                  <p class="emailoctopus-error-message">
                  </p>
                  <form action="https://emailoctopus.com/lists/428629bd-1d50-11eb-a3d0-06b4694bee2a/members/embedded/1.3/add"
                     method="post"
                     data-message-success="Aboneliğiniz İçin Teşekkürler!"
                     data-message-missing-email-address="Mail adresini girmeniz gerekli."
                     data-message-invalid-email-address="Mail adresiniz doğru gözükmüyor. Tekrar Deneyin."
                     data-message-bot-submission-error="Bot girişi hatası. Tekrar deneyin."
                     data-message-consent-required="Please check the checkbox to indicate your consent."
                     data-message-invalid-parameters-error="Formda boş bölgeler veya hatalar var. Kontol edip tekrar deneyin."
                     data-message-unknown-error="Üzgünüz, bilinmeyen hatayla karşılaştık. Lütfen tekrar deneyin."
                     class="emailoctopus-form"
                     data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
                  >
                   <label for="field_0">
                   <input id="field_0"
                          name="field_0"
                          type="email"
                          placeholder="Mail Adresiniz"
                          required="required"
                          class="form-control form-email"
                   > </label>
                  <div aria-hidden="true"
                      class="emailoctopus-form-row-hp"
                  >
                   <input type="hidden"
                          name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
                          tabindex="-1"
                          autocomplete="nope"
                   >
                  </div>
                  <div class="emailoctopus-form-row-subscribe">
                   <input type="hidden"
                          name="successRedirectUrl"
                   >
                   <button type="submit"
                         class="btn markutbtn"
                   >Abone Ol
                   </button>
                  </div>
                  </form>
                   <small>ücretsizdir.</small>
          </div>
      </div>
    </div>
  </div>
</div>
<footer><hr><div class="container">
  <div class="mailde mb-5">
    <div class="mailde-title">Dergimize Abone Olun</div>
    <div class="mailde-desc">Yeni Sayıları Mailinize Gönderelim</div>   

<p class="emailoctopus-success-message">
</p>
<p class="emailoctopus-error-message">
</p>
<form action="https://emailoctopus.com/lists/428629bd-1d50-11eb-a3d0-06b4694bee2a/members/embedded/1.3/add"
   method="post"
   data-message-success="Aboneliğiniz İçin Teşekkürler!"
   data-message-missing-email-address="Mail adresini girmeniz gerekli."
   data-message-invalid-email-address="Mail adresiniz doğru gözükmüyor. Tekrar Deneyin."
   data-message-bot-submission-error="Bot girişi hatası. Tekrar deneyin."
   data-message-consent-required="Please check the checkbox to indicate your consent."
   data-message-invalid-parameters-error="Formda boş bölgeler veya hatalar var. Kontol edip tekrar deneyin."
   data-message-unknown-error="Üzgünüz, bilinmeyen hatayla karşılaştık. Lütfen tekrar deneyin."
   class="emailoctopus-form"
   data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
>
 <label for="field_0">

 <input id="field_0"
        name="field_0"
        type="email"
        placeholder="Mail Adresiniz"
        required="required"
        class="form-control form-email"
 > </label>
<div aria-hidden="true"
    class="emailoctopus-form-row-hp"
>
 <input type="hidden"
        name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
        tabindex="-1"
        autocomplete="nope"
 >
</div>
<div class="emailoctopus-form-row-subscribe">
 <input type="hidden"
        name="successRedirectUrl"
 >
 <button type="submit"
       class="btn markutbtn"
 >Abone Ol
 </button>
</div>
</form>

    <small>ücretsizdir.</small>
</div>

        <div class="footericon"><img src="/img/logo-color.svg" alt="Markut Logo"></div>
        <div class="footerlogo">MARKUT</div>
        <div class="footersur">Marmara Kreatif Ürün Tasarım Ekibi</div>
        <p class="footerdesc"><strong>Markut</strong>, Marmara Kreatif Ürün Tasarım ekibidir. Ekibimizle Ağustos 2020'de online <strong>endüstriyel tasarım dergimizi</strong> bu platformda yayınlamaya başladık. Dergimiz, endüstri tasarımı bağlamında <strong>genel tasarım</strong> disiplinleriyle de ilişkili olarak içerikler üretmektedir. İçeriklerimizi başka platformlarda paylaşırken kaynak olarak <a href="https://www.markut.net">Markut.net</a> ibaresinin geçmesi gerekmektedir.</p>
        <ul class="list-inline footerlinks">
            <li class="list-inline-item"><a href="/iletisim/">iletişim</a></li>
            <li class="list-inline-item"><a href="/hakkimizda/">hakkımızda</a></li>
            <li class="list-inline-item"><a href="/sayi-1/markut-nedir/">markut nedir?</a></li>
            <li class="list-inline-item"><a href="/reklam-sponsorluk/">reklam ve sponsorluk</a></li>
            <li class="list-inline-item"><a href="/bize-gonder/">bize gönder</a></li>
            <li class="list-inline-item"><a href="/okuyucu-sozlesmesi/">okuyucu sözleşmesi</a></li>
            <li class="list-inline-item"><a href="/yazar/">yazarlar</a></li>
            <li class="list-inline-item"><a href="/tags/">etiketler</a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/markutworks/" target="_blank">instagram</a></li>
            <li class="list-inline-item"><a href="https://tr.pinterest.com/markutworks/" target="_blank">pinterest</a></li>
            <li class="list-inline-item"><a href="https://markutworks.tumblr.com/" target="_blank">tumblr</a></li>
        </ul>
        <div class="copyright"><a href="{{.Site.BaseURL}}">Markut.net</a>  <a href="/dergi/">/dergi</a>  <a href="/blog/">/blog</a> | Copyright © 2020 | Markut tarafından tasarlandı.</div>
    </div></footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{.Site.BaseURL}}/bootstrap/bootstrap.min.js"></script>
    <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js">
    </script>

    {{ if not (in (.Site.BaseURL | string) "localhost") }}
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122967892-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-122967892-3');
</script>
    {{end}}
<script src="{{.Site.BaseURL}}/js/jquery.clever-infinite-scroll.js"></script>
<script src="{{.Site.BaseURL}}/js/dark-mode-switch.min.js"></script>
<script>
  $('#contentsWrapper').cleverInfiniteScroll({
      contentsWrapperSelector: '#contentsWrapper',
      contentSelector: '.content',
      nextSelector: '#next',
  });
</script>
<script>
  //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
<script>$('#dergi a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})</script>
</body>
</html>