 <!-- Modal -->
 <div class="modal fade" id="aboneol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modalback">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dergimize Abone Ol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="mailde">
                  <div class="col-md-8 m-auto"><img class="img-fluid" src="/img/markut-mailde.svg" alt="Markut Mailde İllustrasyon"></div>
                  <div class="mailde-title">Dergimize Abone Olun</div>
                  <div class="mailde-desc">Yeni Sayıları Mailinize Gönderelim</div>
                  <form name="abonelik-modal" method="POST" data-netlify="true" action="/basarili/">   
                    <label><input type="email" name="email" class="form-control form-email" id="email" placeholder="Mail Adresiniz" required></label>
                    <button type="submit" class="btn markutbtn">Abone Ol</button><br>
                    <small>ücretsizdir.</small>
                </form>
          </div>
      </div>
    </div>
  </div>
</div>
<footer><hr><div class="container">  
        <div class="footericon"><img src="/img/logo-color.svg" alt="Markut Logo"></div>
        <div class="footerlogo">MARKUT</div>
        <div class="footersur">Marmara Kreatif Ürün Tasarım Ekibi</div>
        <p class="footerdesc"><strong>Markut</strong>, Marmara Kreatif Ürün Tasarım ekibidir. Ekibimizle Ağustos 2020'de online <strong>endüstriyel tasarım dergimizi</strong> bu platformda yayınlamaya başladık. Dergimiz, endüstri tasarımı bağlamında <strong>genel tasarım</strong> disiplinleriyle de ilişkili olarak içerikler üretmektedir. İçeriklerimizi başka platformlarda paylaşırken kaynak olarak <a href="https://www.markut.net">Markut.net</a> ibaresinin geçmesi gerekmektedir.</p>
        <ul class="list-inline footerlinks">
            <li class="list-inline-item"><a href="/iletisim/">iletişim</a></li>
            <li class="list-inline-item"><a href="/hakkimizda/">hakkımızda</a></li>
            <li class="list-inline-item"><a href="/sayi-1/markut-nedir/">markut nedir?</a></li>
            <li class="list-inline-item"><a href="/reklam-sponsorluk/">reklam ve sponsorluk</a></li>
            <li class="list-inline-item"><a href="/bize-gonder/">bize gönder</a></li>
            <li class="list-inline-item"><a href="/okuyucu-sozlesmesi/">okuyucu sözleşmesi</a></li>
            <li class="list-inline-item"><a href="/yazar/">yazarlar</a></li>
            <li class="list-inline-item"><a href="/tags/">etiketler</a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/markutworks/" target="_blank">instagram</a></li>
        </ul>
        <div class="copyright"><a href="{{.Site.BaseURL}}">Markut.net</a>  <a href="/dergi/">/dergi</a>  <a href="/blog/">/blog</a> | Copyright © 2020 | Markut tarafından tasarlandı.</div>
    </div></footer>
    <script data-cfasync="false" src="{{.Site.BaseURL}}js/form-submission-handler.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{.Site.BaseURL}}bootstrap/bootstrap.min.js"></script>
<script> $(function()
    {
      $('#theform').submit(function(){
        $("input[type='submit']", this)
          .val("Lütfen Bekleyin...")
          .attr('disabled', 'disabled');
        return true;
      });
    });</script>
    {{ if not (in (.Site.BaseURL | string) "localhost") }}
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122967892-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-122967892-3');
</script>
    {{end}}
<script src="{{.Site.BaseURL}}js/jquery.clever-infinite-scroll.js"></script>
<script src="{{.Site.BaseURL}}js/dark-mode-switch.min.js"></script>
<script>
  $('#contentsWrapper').cleverInfiniteScroll({
      contentsWrapperSelector: '#contentsWrapper',
      contentSelector: '.content',
      nextSelector: '#next',
  });
</script>
<script>$('#dergi a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})</script>
</body>
</html>