<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<!-- prettier-ignore -->
		<title>{{$seotitle := .Params.seotitle}}{{ if isset .Params "seotitle" }}{{$seotitle}}{{else}}{{.Title}}{{ end }}{{ if .IsHome }} | Endüstriyel Tasarım Dergisi {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}
		</title>
		<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
		<meta name="author" content='{{- range $index, $element := .Params.yazar }}{{- with $.Site.GetPage "taxonomyTerm" (printf "yazar/%s" (urlize .)) }}{{ if gt $index 0 }}, {{ end }}{{ .Params.title}}{{ end }}{{ end }}{{if isset .Params "konuk" }}{{.Params.konuk}}{{end}}' />
		<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="{{.Site.BaseURL}}bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css" />
		{{ with .Params.robotsdisallow }}
		<meta name="robots" content="noindex, nofollow" />
		{{ else }}<meta name="robots" content="index, follow" />{{ end }}
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}icon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}icon/favicon-16x16.png">
		<link rel="manifest" href="{{.Site.BaseURL}}icon/site.webmanifest">
		<link rel="mask-icon" href="{{.Site.BaseURL}}icon/safari-pinned-tab.svg" color="#000000">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="theme-color" content="#ffffff">
		<link rel="canonical" href="{{ .Permalink }}" />
		{{ if .IsHome }} {{else}}
		<script src="https://unpkg.com/valine@1.4.14/dist/Valine.min.js" defer='defer'></script>
		{{end}}

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
		<meta name="twitter:title" content="{{ .Title }} {{ if .IsHome }}| Endüstriyel Tasarım Dergisi {{ .Site.Params.Tagline }}{{ else }}| {{ .Site.Title }}{{ end }}"/>
		<meta property="twitter:image" content='{{ if isset .Params "thumb"}} {{.Site.BaseURL}}{{.Params.thumb}} {{end}}'>

		<!-- Open Graph / Facebook -->
		<meta property="og:locale" content="tr_TR" />
		<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
		<meta content="{{ .Title }} {{ if .IsHome }}| Endüstriyel Tasarım Dergisi {{ .Site.Params.Tagline }}{{ else }}| {{ .Site.Title }}{{ end }}" property="og:title"/>
		<meta content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" property="og:description" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:site_name" content="{{ .Site.Title }}" />
		<meta property="og:image" content='{{ if isset .Params "thumb"}} {{.Site.BaseURL}}{{.Params.thumb}} {{end}}'>
		{{ range .Params.categories }}
		<meta property="article:section" content="{{ . }}" />
		{{ end }} {{ if isset .Params "date" }}
		<meta property="article:published_time" content="{{ time .Date }}" />
		{{ end }}
		<!--
    {{ if .IsHome }}
    <script type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Site.Title }}"
    }
    </script>
    {{ end }}
    {{ if .IsPage }}
        <script type="application/ld+json">
            { 
                "@context": "http://schema.org", 
                "@type": "WebSite",
                "headline": "{{$seotitle := .Params.seotitle}}{{ if isset .Params "seotitle" }}{{$seotitle}}{{else}}{{.Title}}{{ end }}",
                "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",  
                "url": "{{ .Permalink }}"
             }
        </script>
    {{ end }}-->
		<!--  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
	
		{{ if not (in (.Site.BaseURL | string) "localhost") }}
		<!-- Global site tag (gtag.js) - Google Analytics -->
	   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122967892-3"></script>
	   <script>
		 window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
		 gtag('js', new Date());
		 gtag('config', 'UA-122967892-3');
	   </script>
	   {{end}}
	</head>
	<body></body>
</html>
