      <header>
    <nav class="navbar navbar-expand-lg fixed-top markutnav">
      <a class="navbar-brand " href="{{.Site.BaseURL}}"><div class="logo">MARKUT</div></a>
      <!--  Show this only on mobile to medium screens  -->
      <nav>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggle">
          <span class="">menü</span>
        </button>
      </nav>

      <!--  Use flexbox utility classes to change how the child elements are justified  -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
          <ul class="navbar-nav">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle kirmizi" href="#" data-toggle="dropdown">
               sayı {{ range .Params.sayi }}{{ . }}{{ end }}
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/sayi-2/">Sayı 02</a>
                <a class="dropdown-item" href="/sayi-1/">Sayı 01</a>
                <a class="dropdown-item" href="/sayi-0/">Sayı 00</a>
              </div>
            </li>   
             <!-- Dropdown İçindekiler -->
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle kirmizi" href="#" data-toggle="dropdown">
                 içindekiler
               </a>
               <div class="dropdown-menu">
                {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.sayi" "intersect" .Params.sayi ) "Permalink" "!=" .Permalink ) }}
             <div class="mrkt-menu"><a class="" href="{{ .RelPermalink }}">{{.Params.sayfa}} | {{ .Title | markdownify }}</a></div>                  
               {{ end }}
               </div>
             </li>
        </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/iletisim/">iletişim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hakkimizda/">hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#aboneol">abone ol</a>
            </li>
            <li class="nav-item"><div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="darkSwitch" />
              <label class="custom-control-label" for="darkSwitch">dark</label>
            </div></li>
          </ul>
        </div>
      </nav>
    </header>
