{{ partial "head.html" . }}
<div class="container">
    <div class="text-center">
    <a href="{{.Site.BaseURL}}">   <img loading="lazy" style="margin-bottom: -50px;" src="https://www.markut.net/img/logo-color.svg" width="200px" alt="Markut Logo"><br>
    <img src="https://www.markut.net/logo/svg/markut-type.svg" width="500px" alt=""></div></a>
    <h2 class="text-center mt-1 mb-4" style="font-size: 24px;">/CARD</h2>
    <div style="max-width: 400px; margin: 0 auto; text-justify: newspaper; text-align: justify;"><p>Markut, Atahan Göktürk Güner tarafından 10 Şubat 2020 tarihinde kurulmuştur. Markut, Marmara Kreatif Ürün Tasarım ekibidir. Ekibimizle Ağustos 2020'de online endüstriyel tasarım dergimizi bu platformda yayınlamaya başladık. Dergimiz, endüstri tasarımı bağlamında genel tasarım disiplinleriyle de ilişkili olarak içerikler üretmektedir.</p>
</div>
</div>



{{ partial "mailde.html" . }} <br><br><br>
{{ partial "abone-ol.html" . }}
<div class="container">
  <h2 class="text-center">Dergimizden Son 3 Sayı:</h2>
<div class="row">
  <div class="col-md-4"><a href="https://www.markut.net/sayi-15/" target="_blank" rel="noopener noreferrer"><img src="https://www.markut.net/img/markut-design-week-aralik-2021.png" alt=""></a></div>
  <div class="col-md-4"><a href="https://www.markut.net/sayi-14/" target="_blank" rel="noopener noreferrer"><img src="https://www.markut.net/img/markut-ekim-2021-sayi-14.jpg" alt=""></a></div>
  <div class="col-md-4"><a href="https://www.markut.net/sayi-13/" target="_blank" rel="noopener noreferrer"><img src="https://www.markut.net/img/markut-eylul-2021-sayi-13.png" alt=""></a></div>
</div>
</div>
<div>

    <div class="container">
        <div class="text-center"><h3 style="font-size: 32px; margin-top: 100px; margin-bottom: 50px;">MARKUT EKİBİ</h3></div> 
    <div class="row">
          
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
            <a href="https://www.markut.net/yazar/atahan-gokturk/"><img src="../yazar/atahan-gokturk.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Atahan Göktürk Güner</a></h3></div>
        
        <div class="col-md-3 mb-5">
            <div class="pb-2 ml-5 mr-5">
              <a href="https://www.markut.net/yazar/deniz-cam/"><img src="../yazar/deniz-cam.jpg" class="rounded-circle" alt=""></div>
          <h3 class="mt-0 text-center">Deniz Çam</a></h3></div>
      
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="https://www.markut.net/yazar/elif-ersoz/"><img src="../yazar/elif-ersoz.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Elif Ersöz</a></h3></div>
        
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="https://www.markut.net/yazar/eylul-ecem-sogutlu/"><img src="../yazar/eylul-ecem-sogutlu.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Eylül Ecem Söğütlü</a></h3></div>
        
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="https://www.markut.net/yazar/hilal-doruk/"><img src="../yazar/hilal-doruk.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Hilal Doruk</a></h3></div>
        
        <div class="col-md-3 mb-5">
            <div class="pb-2 ml-5 mr-5">
            <a href="https://www.markut.net/yazar/merve-cetin/"><img src="../yazar/merve-cetin.jpg" class="rounded-circle" alt=""></div>
          <h3 class="mt-0 text-center">Merve Çetin</a></h3></div>
          
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="https://www.markut.net/yazar/mucahit-vasfi-bas/"><img src="../yazar/mucahit-vasfi-bas.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Mücahit Vasfi Baş</a></h3></div>
        
        <div class="col-md-3 mb-5">
            <div class="pb-2 ml-5 mr-5">
            <a href="https://www.markut.net/yazar/goksu-gokturk/"><img src="../yazar/goksu-gokturk.jpg" class="rounded-circle" alt=""></div>
          <h3 class="mt-0 text-center">Şahsenem Göksu Göktürk</a></h3></div>
          
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="mailto:yslamsahat@gmail.com"><img src="../yazar/yslamsahet-amangluyyev.png" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"> Yslamsahet Amangulyyev</a></h3></div>
          
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="https://www.markut.net/yazar/zeynep-yarar/"><img src="../yazar/zeynep-yarar.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Zeynep Yarar</a></h3></div>
        
        <div class="col-md-3 mb-5">
          <div class="pb-2 ml-5 mr-5">
          <a href="https://www.markut.net/yazar/zeynep-dag/"><img src="../yazar/zeynep-dag.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center">Zeynep Dağ</a></h3></div>
       </div>      
    </div>     

   

        <div class="m-auto"> <a href="https://www.instagram.com/markutworks/" target="_blank" rel="noopener noreferrer">
          <div class="text-center">
            <img src="../../img/markut-logo-instagram.svg" width="200px" alt="" class="pr-5">
            <p class="mt-3 logo">MARKUT</p><br>
            <p class="mt-5 pt-2"><strong>Instagram Hesabını Takip Edin</strong></p>
            <div class="text-muted mt-2">@markutworks</div> <br>
            <button type="submit" class="btn markutbtn">Takip Et</button>
          </div></a>

</div>
<br><br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-8 offset-md-2">
   <a href="https://www.markut.net/reklam-sponsorluk/"> <p class="text-center"><button class=" btn markutbtn">Reklam ve Sponsorluk</button></p></a>
    <div class="text-center">    <h3>İletişim</h3></div>
    <div class="text-center">    Mail yoluyla iletişime geçmek için <a href="mailto:bilgi@markut.net">bilgi@markut.net</a> adresini kullanabilirsiniz.
    </div>

<form name="Contact" method="POST" data-netlify="true" action="/basarili">
  <p><label>Ad Soyad: <input type="text" name="name" class="form form-control" /></label></p> 
  <p><label>Email: <input type="text" name="email" class="form-control" /></label></p>
  <p><label>Mesaj: </label><textarea class=" form-control"  rows="10" name="message" style="max-width: 600px"></textarea></p>
  <p><button type="submit" class=" btn markutbtn">Gönder</button></p>
</form>
  </div>
</div>

<div class="m-auto text-center">


<br><br>
<h5 class="text-muted">Sosyal Medya</h5>
<hr class="m-0">
<ul class="list-group ">
  <li class="list-group-item p-1"><a href="https://www.instagram.com/markutworks/" target="_blank" rel="nofollow">Instagram</a></li>
  <li class="list-group-item p-1"><a href="https://www.linkedin.com/company/markut/" target="_blank" rel="nofollow">Linkedin</a></li>
  <li class="list-group-item p-1"><a href="https://twitter.com/markutworks" target="_blank" rel="nofollow">Twitter</a></li>
  <li class="list-group-item p-1"><a href="https://tr.pinterest.com/markutworks/" target="_blank" rel="nofollow">Pinterest</a></li>
  <li class="list-group-item p-1"><a href="https://markutworks.tumblr.com/" target="_blank" rel="nofollow">Tumblr</a></li>
</ul>
</div></div>

<footer><div class="container">
    <hr>
            <div class="copyright"><a href="https://www.markut.net/">Markut.net</a>  <a href="/dergi/">/dergi</a> | Copyright © 2020-2021 | Markut tarafından tasarlandı | <a href="/hakkimizda/">Hakkımızda</a></div>
        </div>
      </footer>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://www.markut.net/bootstrap/bootstrap.min.js" defer='defer'></script>
        <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js" defer='defer'>
        </script>


    
    <script>
      
    mybutton = document.getElementById("myBtn");
    
    
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    
    function topFunction() {
      document.body.scrollTop = 0; 
      document.documentElement.scrollTop = 0; 
    }
    </script>
    <script>$('#dergi a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    $('.dropdown-toggle').dropdown()
    </script>
    
    </body>
    </html>