{{ partial "head.html" . }}
<div class="container">
    <div class="text-center">
       <img loading="lazy" style="margin-bottom: -50px;" src="http://localhost:1313/img/logo-color.svg" width="200px" alt="Markut Logo"><br>
    <img src="https://www.markut.net/logo/svg/markut-type.svg" width="500px" alt=""></div>
    <h2 class="text-center mt-1 mb-4" style="font-size: 24px;">/CARD</h2>
    <div style="max-width: 400px; margin: 0 auto; text-justify: newspaper; text-align: justify;"><p>Markut, Marmara Kreatif Ürün Tasarım ekibidir. Ekibimizle Ağustos 2020'de online endüstriyel tasarım dergimizi bu platformda yayınlamaya başladık. Dergimiz, endüstri tasarımı bağlamında genel tasarım disiplinleriyle de ilişkili olarak içerikler üretmektedir.</p>
</div>
</div>
{{ partial "mailde.html" . }} <br><br><br>
{{ partial "abone-ol.html" . }}

<div>

    <div class="container">
        <div class="text-center"><h3 style="font-size: 32px; margin-top: 100px; margin-bottom: 50px;">MARKUT EKİBİ</h3></div> 
    <div class="row">
          
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/atahan-gokturk.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/atahan-gokturk/">Atahan Göktürk Güner</a></h3></div>
        
        <div class="col-md-3 mb-5">
            <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
            <img src="../yazar/deniz-cam.jpg" class="rounded-circle" alt=""></div>
          <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/deniz-cam/">Deniz Çam</a></h3></div>
      
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/elif-ersoz.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/elif-ersoz/">Elif Ersöz</a></h3></div>
        
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/eylul-ecem-sogutlu.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/eylul-ecem-sogutlu/">Eylül Ecem Söğütlü</a></h3></div>
        
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/hilal-doruk.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/hilal-doruk/">Hilal Doruk</a></h3></div>
        
        <div class="col-md-3 mb-5">
            <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
            <img src="../yazar/merve-cetin.jpg" class="rounded-circle" alt=""></div>
          <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/merve-cetin/">Merve Çetin</a></h3></div>
          
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/mucahit-vasfi-bas.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/mucahit-vasfi-bas/">Mücahit Vasfi Baş</a></h3></div>
        
        <div class="col-md-3 mb-5">
            <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
            <img src="../yazar/goksu-gokturk.jpg" class="rounded-circle" alt=""></div>
          <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/goksu-gokturk/">Şahsenem Göksu Göktürk</a></h3></div>
          
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/yslamsahet-amangluyyev.png" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/goksu-gokturk/">Yslamsahet Amangulyyev</a></h3></div>
          
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/zeynep-yarar.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/zeynep-yarar/">Zeynep Yarar</a></h3></div>
        
        <div class="col-md-3 mb-5">
          <div class="pl-1 pr-1 pb-2 ml-5 mr-5">
          <img src="../yazar/zeynep-dag.jpg" class="rounded-circle" alt=""></div>
        <h3 class="mt-0 text-center"><a href="http://localhost:1313/yazar/zeynep-dag/">Zeynep Dağ</a></h3></div>
       </div>      
    </div>     

   

        <div class="m-auto"> <a href="https://www.instagram.com/markutworks/" target="_blank" rel="noopener noreferrer">
          <div class="text-center">
            <img src="../../img/markut-logo-instagram.svg" width="200px" alt="" class="pr-5">
            <p class="mt-3 logo">MARKUT</p><br>
            <p class="mt-5 pt-2"><strong>Instagram Hesabını Takip Edin</strong></p>
            <div class="text-muted mt-2">@markutworks</div> <br>
            <button type="submit" class="btn markutbtn">Takip Et</button>
          </div></a>

</div>
<br><br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="text-center">    <h3>İletişim</h3></div>
    <div class="text-center">    Mail yoluyla iletişime geçmek için <a href="mailto:bilgi@markut.net">bilgi@markut.net</a> adresini kullanabilirsiniz.
    </div>

<form name="Contact" method="POST" data-netlify="true" action="/basarili">
  <p><label>Ad Soyad: <input type="text" name="name" class="form form-control" /></label></p> 
  <p><label>Email: <input type="text" name="email" class="form-control" /></label></p>
  <p><label>Mesaj: </label><textarea class=" form-control"  rows="10" name="message" style="max-width: 600px"></textarea></p>
  <p><button type="submit" class=" btn markutbtn">Gönder</button></p>
</form>
  </div>
</div>



</div>

<footer><div class="container">
    <hr>
    <div class="row mb-0">
            <div class="col-md-4"> <div class="footericon"><img loading="lazy" src="http://localhost:1313/img/logo-color.svg" alt="Markut Logo"></div>
               <div class="footerlogo">MARKUT</div>
               <div class="footersur">Marmara Kreatif Ürün Tasarım Ekibi</div> <p class="footerdesc">        <strong>Markut</strong>, Marmara Kreatif Ürün Tasarım ekibidir. Ekibimizle Ağustos 2020'de online <strong>endüstriyel tasarım dergimizi</strong> bu platformda yayınlamaya başladık. Dergimiz, endüstri tasarımı bağlamında <strong>genel tasarım</strong> disiplinleriyle de ilişkili olarak içerikler üretmektedir.</p>
           </div>
          <div class="col-md-8">
                    <div class="row mb-0 mt-md-4 mt-4">
                  <div class="col-md-4 col-sm-6 col-6 text-center mb-4">
                  <h5 class="text-muted">Bilgi</h5>
                  <hr class="m-0">
                    <ul class="list-group">
                      <li class="list-group-item p-1"><a href="http://localhost:1313/iletisim/">İletişim</a></li>
                      <li class="list-group-item p-1"><a href="http://localhost:1313/hakkimizda/">Hakkımızda</a></li>
                      <li class="list-group-item p-1 font-weight-bold"><a href="http://localhost:1313/reklam-sponsorluk/">Reklam ve Sponsorluk</a></li>
                      <li class="list-group-item p-1"><a href="http://localhost:1313/okuyucu-sozlesmesi/">Okuyucu Sözleşmesi</a></li>
                      <li class="list-group-item p-1"><a href="http://localhost:1313/logo/">Logo Tasarım</a></li>
                    </ul>
                 </div>
                  <div class="col-md-4 col-sm-6 col-6 text-center">    
                  <h5 class="text-muted">Linkler</h5>
                  <hr class="m-0">
                  <ul class="list-group">
                    <li class="list-group-item p-1"><a href="http://localhost:1313/yazar/">Yazarlar</a></li>
                    <li class="list-group-item p-1"><a href="http://localhost:1313/tags/">Etiketler</a></li>
                    <li class="list-group-item p-1"><a href="http://localhost:1313/illustrasyon/">İllustrasyonlar</a></li>
                    <li class="list-group-item p-1"><a href="http://localhost:1313/bize-gonder/">Bize Gönder</a></li>
                    <li class="list-group-item p-1"><div class="custom-control custom-switch m-0 ml-0 pl-0 mdarkmode">
                      <input type="checkbox" class="custom-control-input " id="darkSwitch" />
                      <label for="darkSwitch">Karanlık Mod</label>
                    </div></li>
                  </ul>
                  </div>
                  <div class="col-md-4 text-center">
                  <h5 class="text-muted">Sosyal Medya</h5>
                  <hr class="m-0">
                  <ul class="list-group ">
                    <li class="list-group-item p-1"><a href="https://www.instagram.com/markutworks/" target="_blank" rel="nofollow">Instagram</a></li>
                    <li class="list-group-item p-1"><a href="https://www.linkedin.com/company/markut/" target="_blank" rel="nofollow">Linkedin</a></li>
                    <li class="list-group-item p-1"><a href="https://twitter.com/markutworks" target="_blank" rel="nofollow">Twitter</a></li>
                    <li class="list-group-item p-1"><a href="https://tr.pinterest.com/markutworks/" target="_blank" rel="nofollow">Pinterest</a></li>
                    <li class="list-group-item p-1"><a href="https://markutworks.tumblr.com/" target="_blank" rel="nofollow">Tumblr</a></li>
                  </ul>
              </div>
                 <div class="col-md-12"><p class="footerdesc mt-2">
                  <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Markut | Endüstriyel Tasarım Dergisi</span> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow"> Creative Commons BY-NC-SA 4.0</a> ile lisanslanmıştır.
                    İçeriklerimizi başka platformlarda paylaşırken kaynak olarak <a href="https://www.markut.net">Markut.net</a> ibaresinin geçmesi gerekmektedir. Ticari olarak kullanılamaz.</p>
                    <div class="text-center mt-3"><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow"><img alt="Creative Commons Lisansı" class="text-center border-0"  src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></div>
               </div>
              </div>
            </div>
    </div>    
            <div class="copyright"><a href="http://localhost:1313/">Markut.net</a>  <a href="../dergi/">/dergi</a> | Copyright © 2020-2021 | Markut tarafından tasarlandı.</div>
        </div>
      </footer>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://localhost:1313/bootstrap/bootstrap.min.js" defer='defer'></script>
        <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js" defer='defer'>
        </script>
    <script src="http://localhost:1313/js/dark-mode-switch.min.js"></script>
    <script>$('.slb').simplebox({
      fadeSpeed: 400, 
      darkMode: true, 
      postfix: "_full", 
      hqClass: "highres" 
    });</script>
    
    <script src="http://localhost:1313/js/jquery.clever-infinite-scroll.js"></script>
    <script>
      $('#contentsWrapper').cleverInfiniteScroll({
          contentsWrapperSelector: '#contentsWrapper',
          contentSelector: '.content',
          nextSelector: '#next',
      });
    </script>
    
    <script>
      
    mybutton = document.getElementById("myBtn");
    
    
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    
    function topFunction() {
      document.body.scrollTop = 0; 
      document.documentElement.scrollTop = 0; 
    }
    </script>
    <script>$('#dergi a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    </script>
    
    </body>
    </html>