<!-- C Reklam Alanı-->
<div class="container-fluid markutreklam">
    <div class="row pt-md-2 pb-md-4 bg-sari mt-5" style="background-color: {{$.Site.Params.creklamrenk}};">
      <div class="col-md-6 text-right"><a href="{{$.Site.Params.creklamurl}}" target="_blank"><img loading="lazy" class="img-fluid thumb pt-3" src="{{$.Site.Params.creklamimg}}" alt="Markut C Reklam Alanı Görselidir." width="700px" height="300px">
        </a></div>
      <div class="col-md-6 mgen"><a href="{{$.Site.Params.creklamurl}}" target="_blank"><p class="title mt-2 pt-2 h2">{{$.Site.Params.creklamtitle}}</p></a>
      <p class="yazar"><a href="https://www.markut.net/reklam-sponsorluk/" target="_blank" rel="noopener noreferrer">Reklam</a></p>
       <a href="{{$.Site.Params.creklamurl}}" target="_blank"><p class="desc">{{$.Site.Params.creklamdesc}}</p></a>
     </div>
    </div>
</div>
 <!-- C Reklam Alanı Bitiş-->