

.logo{
    background-image: url(/img/logo.svg);
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
}


.yazi h3{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 10px;
    font-size: 22px;
    margin-bottom: 20px;
}

.yazi{
    margin-top: 10px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
}



.mgen{
    max-width: 700px;
}
.yazar{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;

}