<h3 class="text-center">Markut Ekibinden Sevgiyle...</h3>
<div class="mailde mb-5">
        <div class="col-md-5 m-auto"><img class="img-fluid" src="/img/markut-mailde.svg" alt="Markut Mailde İllustrasyon"></div>
        <div class="mailde-title">Dergimize Abone Olun</div>
        <div class="mailde-desc">Yeni Sayıları Mailinize Gönderelim</div>
        <form name="abonelik" method="POST" data-netlify="true" action="/basarili/">   
          <label><input type="text" name="email" class="form-control form-email" placeholder="Mail Adresiniz" required></label>
          <button type="submit" class=" btn markutbtn">Abone Ol</button><br>
          <small>ücretsizdir.</small>
      </form>
</div><br><br><br>
<!--
<div class="container mgen mt-5">
{{$link := .Permalink}}
{{$url := "https://docs.google.com/spreadsheets/d/e/2PACX-1vSBPLcLutIQpYYppho3BFaH2K3gkaDi4rpr3L4GaFlkiAbyEp8xHSNWQ7G5DTp5dcNdOwM9D0ycZvTH/pub?output=csv"}}
{{ $csv := getCSV "," $url }}

{{ range $i, $r := $csv }}

{{ $sayi :=  (index $r 8) }}

{{ if eq  $sayi $link }}
<strong>{{ (index . 1) }}</strong> <br>
<small>{{ (index . 0) }}</small> 
<p>{{ (index . 2) }}</p><br>
<hr>
{{end}}
    {{ end }}
<h2>Geri bildirimde bulunabilirsiniz</h2> <br>
    <form id="theform" class="gform" method="POST" data-email="atahangokturkguner@gmail.com" action="https://script.google.com/macros/s/AKfycbz7J2emwa9PdU_StHrGmO0A19CvaZTmk8irof3K/exec">
        <div style="display:none" class="thankyou_message">
         <h2>Yorumunuz için teşekkür ederiz. Editör onayından sonra yayınlanacak.</h2>
        </div>
        <input type='hidden' name='post_id' value='{{ .Params.postid }}' />
        <textarea name="message" class="form-message form-yorum" rows="4"placeholder="Yorumunu yaz" required></textarea><br>
        <label><input type='text' name='name' class="form-control form-ad" placeholder="Ad Soyad" required/></label><br>
        <label><input type='email' name='email' class="form-control form-email" placeholder="Email" required/></label>
        <input type="hidden" id="comment-parent" name="reply_to" value=""><br>
        <input type="hidden" id="comment-parent" name="parrent_name" value="">
        <input type="hidden" id="comment-parent" name="parrent_time" value="">
        <input type="hidden" id="comment-parent" name="url" value="{{ .Permalink }}">
        <small>Yorumunuz editör onayından sonra yayınlanacaktır.</small><br><br>
        <input type='submit' value='Gönder' class=" btn markutbtn"/>
</form>
</div>
-->

<!--
{{ $r := 3 }}
{{ $c := 1 }}
{{$bla := index ( index $csv $r ) $c }}
{{if eq $bla "Carol"}}
{{$bla}} <br>
{{ index $csv $r 2 }} | {{ index $csv $r 3 }} | {{ index $csv $r 4 }}
{{end}}

<hr>

{{ $r := 4 }}
{{ $c := 1 }}
{{$bla := index ( index $csv $r ) $c }}
{{if eq $bla "Doug"}}
{{$bla}} <br>
{{ index $csv $r 2 }} | {{ index $csv $r 3 }} | {{ index $csv $r 4 }}
{{end}}
-->


<!--
<h3>Atahan Göktürk Güner | Deniz Çam | Ece Çelik | Elif Ersöz | Hilal Doruk | Merve Çetin | Ömer Faruk Çam | Şahsenem Göksu Göktürk | Yslamsahat Amangulyev | Zeynep Dağ | Zeynep Yarar</h3>
<div class="container mgen"><h3>Alkışlar Markut Ekibine :)</h3> <br> <br><br><br>
        <applause-button multiclap="true"  style="width: 100px; height: 100px;"/></div>

        <div class="container mgen">
                <br><br><br> <h3>Son Gelen Yorumlar</h3><hr>
        {{$postid:= .Params.postid}}
        {{ $gistJ := getJSON "https://getsimpleform.com/messages.json?api_token=7dc3fb305c1a7e75a2f26a86535f9974" }}
        {{ range $gistJ }}
        {{ if eq .data.post_id $postid }}
                {{ if not .data.reply_to }}
        <b>{{ .data.name }} <span style="font-size: 13px; font-weight: 100;">  |  {{ dateFormat "02 January 2006" .created_at }}</span></b> 
        <p style=" font-size: 16px; margin-top: 5px;">{{ .data.message  }} </p>
        <div class="comment_reply">
            <a id="{{ .id }}" class="yanitla" href="#comment-form" onclick="changeValue('reply_to', 'yes'); changeValue('parrent_name', '{{.data.name}}'); changeValue('parrent_time','{{.created_at}}')">Yanıtla</a>
            </div>
               {{ end }}
              {{$black := .created_at}}
               {{ range sort $gistJ }}{{ if eq .data.parrent_time $black}}
               <div style="margin-left: 100px; font-size: 14px;">
                <p style=" font-weight: bold;font-size: 14px; ">{{ .data.name }} <span style="font-weight: 100;">| {{ dateFormat "02 January 2006" .created_at }}</span></p>  
                <p style=" font-size: 16px; margin-top: -10px;">{{ .data.message  }}</p>
                <br>
              </div>
               {{ end }}{{ end }}
           
         {{ end }}
        {{ end }} <br>

    
        <form id="comment-form" action="https://getsimpleform.com/messages?form_api_token=04d0d4343419a0e7db01dd9c6e464355" method="post">
        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
   <!--     <input type='hidden' name='post_id' value='{{ .Params.postid }}' />
        <!-- all your input fields here.... -->
      <!--      <label><input type='text' name='name' class="form-control form-ad" placeholder="Ad Soyad" required/></label><br>
        <label><input type='email' name='email' class="form-control form-email" placeholder="Email" required/></label><br>
        <input type="hidden" id="comment-parent" name="reply_to" value=""><br>
        <input type="hidden" id="comment-parent" name="parrent_name" value="">
        <input type="hidden" id="comment-parent" name="parrent_time" value="">
        <textarea name="message" class="form-message form-yorum" rows="4"placeholder="Yorumunu yaz" required></textarea><br>
        <input type='submit' value='Gönder' class=" btn markutbtn"/>
        </form>
        </div>
        

<hr><hr>
        <form class="gform" method="POST" data-email="atahangokturkguner@gmail.com" action="https://script.google.com/macros/s/AKfycbz7J2emwa9PdU_StHrGmO0A19CvaZTmk8irof3K/exec">
                <input type='hidden' name='post_id' value='{{ .Params.postid }}' />
                <!-- all your input fields here.... -->
      <!--              <label><input type='text' name='name' class="form-control form-ad" placeholder="Ad Soyad" required/></label><br>
                <label><input type='email' name='email' class="form-control form-email" placeholder="Email" required/></label><br>
                <input type="hidden" id="comment-parent" name="reply_to" value=""><br>
                <input type="hidden" id="comment-parent" name="parrent_name" value="">
                <input type="hidden" id="comment-parent" name="parrent_time" value="">
                <textarea name="message" class="form-message form-yorum" rows="4"placeholder="Yorumunu yaz" required></textarea><br>
                <input type='submit' value='Gönder' class=" btn markutbtn"/>
                </form>


                <ul>qweqweqweqwe  {{.Params.postid}}
                        {{ range $i, $r := getCSV "," "https://docs.google.com/spreadsheets/d/e/2PACX-1vSBPLcLutIQpYYppho3BFaH2K3gkaDi4rpr3L4GaFlkiAbyEp8xHSNWQ7G5DTp5dcNdOwM9D0ycZvTH/pub?output=csv" }}
                 
                {{if eq (index $r 6) "post_id"}}
                {{ index $r 1}}
                {{ index $r 2}}
                {{ index $r 3}}
                {{ index $r 4}}
                {{ index $r 5}}
                         <span> {{ index $r 6}}</span> asdasdasd<br><br>
 {{end}}
                       
      
                        {{end}}
                      </ul>
                -->