{{ partial "head.html" . }}
{{ partial "header-sayi.html" . }}
 <div class="container markutkapak">
            <div class="row">
              <div class="col-md-6">
                <h1 class="kapaklogo">MARKUT</h1>
              <h2 class="kapaksur">Endüstriyel Tasarım Dergisi</h2>
              <div class="markutzaman"><time>{{ index $.Site.Data.months_data.months .Date.Month }} {{ .Date.Year }}</time> | Sayı {{ range .Params.sayi }}{{ . }}{{ end }}</div>
              <p class="text-center kapakdesc"><div class="text-center">{{.Params.aciklama | markdownify}}</div></p>
              <div class="kapakoku">Okumaya Başla</div>
              <div class="kapakok">↓</div>
            </div>
              <div class="col-md-6">
                <div class="markutcover">{{ if isset .Params "thumb"}} <img class="img-fluid" src="{{.Params.thumb}}" alt="Markut Sayı: {{ range .Params.sayi }}{{ . }}{{ end }} Kapak Tasarımı">{{end}}{{.Content}}</div>
              </div>
            </div>
</div>
{{ $number := (float .Params.sayfa) }}
{{ $anothernumber := 1 }}
{{ $total := (add $number $anothernumber) }}
{{ $totalsub := (sub $number $anothernumber) }} 
{{ $zeooo := trim $total " " }}   
{{$partarih := .Params.date}}
{{$zero := "0"}}
{{ $zeo := trim $total " " }}
{{ $full := printf "%s%s" "0" $zeo }}
{{ $v1 := where .Site.Pages "Params.sayfa" $full }}
{{ $v2 := where .Site.Pages "Params.date" $partarih }}
{{ $filtered := $v1 | intersect $v2 }}
{{ range $filtered }}
<a href="{{.Permalink}}" id="next"></a>
{{ end }}
 <div class="container toc">
  <div class="icindekiler">içindekiler</div>
  {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.sayi" "intersect" .Params.sayi ) "Permalink" "!=" .Permalink ) }}
  <div class="icsay">{{.Params.sayfa}}</div> <a href="{{ .RelPermalink }}"><h2 class="title">{{ .Title | markdownify }}</h2></a>
  <p class="yazar">{{- range $index, $element := .Params.yazar }}{{- with $.Site.GetPage "taxonomyTerm" (printf "yazar/%s" (urlize .)) }}{{ if gt $index 0 }}, {{ end }}<a href="{{ .Permalink }}">{{ .Params.title }}</a>{{ end }}{{ end }}</p>
  <p class="desc">{{ .Params.aciklama | markdownify }}</p>
  {{ end }}
  <div class="kapakoku">Devam Et</div>
  <div class="kapakok">↓</div>
</div>
<div id="contentsWrapper">
    <div class="content"> 
       
    </div>
</div>

{{ partial "footer.html" . }}

