{{ partial "head.html" . }}
{{ partial "header.html" . }}

<!--
<div class="container">
<div style=" text-align: center; font-family: playfair display; font-size: 24px;">
<div style="margin-bottom: 10px;"></div>
        <div class="row d-flex justify-content-center">
{{ $paginator := .Paginate (where .Pages ".Params.type" "kapak") (index .Site.Params "paginate" | default 10) }}
{{ if gt $paginator.TotalPages 0 }}
{{ range $index, $page := $paginator.Pages }}
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
{{ end }}
<div class="post {{ .Scratch.Get `postClass` }} col-lg-4 col-md-6 col-sm-12">
        <a href="{{ .Permalink }}"><div class="shadow-lg "> <h1 class="logokapak" style="color: {{ .Params.renk }};">MARKUT</h1>
            <h2 class="postyazi" style="color: {{ .Params.renk }};">{{.Title}}</h2>
    <div class="bg postkapak" style="background-image: url({{ .Params.kapakphone }});"></div>
    <div class="postdate"> 
            <p class="float-left posttarih" style="color: {{ .Params.renk }};">{{.Params.Tarih}}</p>
            <h2  class="postsayi" style="color: {{ .Params.renk }};">Sayı {{ .Params.sayi }}</h2>    
        </div>
    </div></a>
</div>
{{ end }}{{ end }}</div></div>
-->
<div class="text-center mt-6">
    <h2>Dergimize Eklenen En son Sayılar</h2>
    <h3>Dergimiz her ayın 1'inde online çıkmaktadır.</h3>
    <p>Endüstriyel tasarımı bağlamında genel tasarım disiplinleriyle ilgili içerikleri okuyucuya sunuyoruz.</p>
</div>
<div class="container-fluid sayilar">
 {{ range ( where .Site.RegularPages "Type" "kapak" )}}
  <div class="row markutsayi post {{ .Scratch.Get `postClass` }}">
                <div class="col-md-6">
                <div class="markutcvr">
                        <a href="{{ .Permalink }}"><img class="img-fluid" src="{{.Params.thumb}}" alt="Markut Sayı: {{ range .Params.sayi }}{{ . }}{{ end }} Kapak Tasarımı"></a>
                </div>
                </div>
                <div class="col-md-6">
                        <div class="icindekiler">içindekiler</div>
                        <ul class="list-group">
                        {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.sayi" "intersect" .Params.sayi ) "Permalink" "!=" .Permalink ) }}  
                        <li class="list-group-item contents">{{ .Title | markdownify }}</li>                        
                        {{ end }}
                        </ul><a href="{{ .Permalink }}" class="btn markutbtn" type="button">sayıyı oku</a>
                </div>
        </div>
 {{ end }}
</div>
<div class="container onde mb-5">
        <div class="icindekiler text-center">Dergiden Öne Çıkan Sayfalar</div>
        <div class="row mt-5">
         {{ range first 20 ( where ( where (.Site.Pages.ByParam "sayfa") ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
         <div class="col-md-6 mt-5"><article>    
       <a href="{{ .Permalink }}"><img class="img-fluid thumb" src="{{.Params.thumb}}" alt="{{ .Title | markdownify }}">   
        <h2 class="title">{{ .Title | markdownify }}</h2>
        <p class="yazar">{{- range $index, $element := .Params.yazar }}{{- with $.Site.GetPage "taxonomyTerm" (printf "yazar/%s" (urlize .)) }}{{ if gt $index 0 }}, {{ end }}<a href="{{ .Permalink }}">{{ .Params.title }}</a>{{ end }}{{ end }} | <time>{{ index $.Site.Data.months_data.months .Date.Month }} {{ .Date.Year }}</time></p>
        <p class="desc">{{ .Params.aciklama | plainify | htmlUnescape }}</p>
      </a>
        </article></div>
 {{ end }}
 </div>
</div>
{{ partial "abonelik.html" . }}
{{.Content}}
{{ partial "footer.html" . }}